* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url(../src/img/leo.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
svg {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@function vh($value, $base: 1000) {
  @return $value / $base * 100vh;
}

// @function vmin($value, $base: 964) {
//   @return $value / $base * 100vmin;
// }
